<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/vendor/bootstrap-4/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 th:text="${msg}">Hello World!</h1>
    <h2 th:text="${msg}">Hello World!</h2>
    <h3 th:text="${msg}">Hello World!</h3>
    <h4 th:text="${msg}">Hello World!</h4>
    <h5 th:text="${msg}">Hello World!</h5>
    <h6 th:text="${msg}">Hello World!</h6>
    <p th:text="${msg}">Hello World?</p>
</div>
</body>
</html>